<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UltraPlayerController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UltraPlayerController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UltraPlayerController.Properties.Settings>
            <setting name="DefaultCommunicationPort" serializeAs="String">
                <value>32000</value>
            </setting>
            <setting name="PlayerExecutable" serializeAs="String">
                <value>UltraPlayer.exe</value>
            </setting>
            <setting name="SettingsFilename" serializeAs="String">
                <value>UltraPlayer.settings</value>
            </setting>
            <setting name="SettingNamePort" serializeAs="String">
                <value>port</value>
            </setting>
            <setting name="SettingNameSkinfilename" serializeAs="String">
                <value>skinfilename</value>
            </setting>
            <setting name="SettingNamePlayerIp" serializeAs="String">
                <value>playerip</value>
            </setting>
        </UltraPlayerController.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <UltraPlayerController.Properties.Settings>
            <setting name="SkinsFolder" serializeAs="String">
                <value>skins</value>
            </setting>
            <setting name="SkinsExtension" serializeAs="String">
                <value>uskin</value>
            </setting>
        </UltraPlayerController.Properties.Settings>
    </userSettings>
</configuration>